{% extends "base.html" %} {% block title %}الصفحة الرئيسية{% endblock %} {%
block content %}
<div class="notes-wrapper">
  <h1>الملاحظات</h1>

  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onclick="deleteNote('{{note.id}}')">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>

  <form method="post">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="right">
      <button type="submit" class="btn btn-primary">اضف الملاحظة</button>
    </div>
  </form>
</div>
{% endblock %}
